body {
	text-align: center;
	padding: 0px;
	margin: 0px;
	background: url(bg-image.png) 20px;
	background-color: #f8f5ff;
	background-size: 60px;
	font-family: "GOST Type AU";
}

.header {
	display: flex;
	background: #c8c5ee;
	text-align: left;
}

.header > img {
	flex: 379px 80px;
}

.sign_in_block {
	text-align: right;
	flex: 1;
	vertical-align: middle;
	font-weight: bold;
	font-size: 20px;
}

.button {
	color: #fff;
	display: inline-block;
	padding: 10px 30px;
	margin: 20px 30px;
	cursor: pointer;
	background: #141414;
	border-radius: 3px;
}

.button:hover {
	background: #303030;
	transition: .3s;
}

input {
	font-size: 15px;
	font-weight: bold;
	font-family: "MS Sans Serif";
	padding: 5px;
	outline: none;
	border: 0px;
	background: #35204d30;
	margin: 10px 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 5px #00000070;
}

input:focus {
	background: #35204d50;
}

.text {
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	margin: 0px 0px;
	color: #666;
	text-align: right;
}

.former {
	width: 60px;
}

.loader_block {
	z-index: -1000;
	position: absolute;
	left: 0%;
	top: -100%;
	width: 100%;
	height: 200%;
	text-align: center;
	background: #d8d5fe00;
	transition: .4s;
}

.loader_block > .loader {
	display: inline-block;
	padding: 5px;
	padding: 15px;
	border-radius: 100%;
	border: 10px solid #c8c5ee;
	border-top: 10px solid #ab8dff;
	animation: loader .7s linear infinite;
	position: absolute;
	margin: 22% 0%;
	position: absolute;
}

@keyframes loader {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#loader {
	height: 100%;
	top: 0%;
	opacity: 0;
}

#loader.active {
	opacity: 1;
}

.loader_block.active {
	z-index: 1000;
	top: 0%;
	height: 100%;
	background: #d8d5feaa;
}

.form {
	display: inline-block;
	margin: 17% 0%;
	vertical-align: middle;
	border-radius: 10px;
	background: #e4e4ffa0;
	position: relative;
	box-shadow: 1px 1px 5px #000;
}

.form_body {
	margin: 30px 60px;
	margin-top: 0px;
	width: 300px;
}

.close_line {
	text-align: right;
	padding: 20px 20px 0px 0px;
}

.close_button {
	cursor: pointer;
	font-family: Century Gothic;
	transform: rotate(45deg);
	line-height: 0px;
	padding: 7px 2px;
	border-radius: 1000px;
	display: inline-block;
	border: 1px solid #000;
}

.filter_block {
	background: #f8f5ffcc;
	box-shadow: 1px 1px 5px #000;
	overflow-y: hidden;
	position: absolute;
	width: 100%;
	z-index: 1;
	box-shadow: 0px 0px 2px #000000;
	
	transition: .5s;
	max-height: 0%;
	padding: 0px;
}

.active > .filter_block {
	max-height: 20%;
}

.filter_switcher {
	text-align: left;
	background: #7d59b9;
	padding: 10px;
	cursor: pointer;
}

.switch_button {
	display: inline-block;
	border: 7px solid #ffffff00;
	border-left: 7px solid #000;
	margin-left: 20px;
	transition: .2s;
}

.active > .filter_switcher > .switch_button {
	transform: rotate(90deg) translate(18%, 0%);
}

.filter {
	display: inline-block;
}

.filter > .text {
	font-size: 15px;
	color: #000;
	margin-left: 20px;
}

.filter > input {
	width: 150px;
}

table {
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: #ffffffaa;
	padding: 0px;
	border-radius: 2px;
	box-shadow: 1px 1px 5px #000;
	font-weight: bold;
	display: inline-block;
}

.cell {
	border: 1px solid #000;
	padding: 5px;
	padding-left: 10px;
	width: 100px;
	display: inline-block;
	margin: 0px 1px;
	text-align: left;
}

.remove, .new {
	padding: 0px 5px;
	color: #fff;
	cursor: pointer;
	border-radius: 100%;
	background: linear-gradient(#e65555, #a33a3a);
	display: inline-block;
	font-family: Century Gothic;
	font-weight: bold;
	margin: 0px 0px;
}

.remove {
	transform: rotate(45deg);
}

.remove:hover {
	background: linear-gradient(#a33a3a, #672323);
}

.new {
	background: linear-gradient(#0f0, #090);
}

.new:hover {
	background: linear-gradient(#0a0, #070);
}

.selector {
	margin: 20px 10px;
	display: inline-block;
	background: #ffffffaa;
	border-radius: 2px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0px 0px 5px #000;
	z-index: 1;
}

.selector_option {
	width: 150px;
	padding: 5px 0px;
}

.selector_hider {
	overflow: hidden;
	max-height: 0%;
	transition: .5s;
	position: absolute;
	background: #ffffffaa;
	box-shadow: 0px 1px 5px #000;
}

.selector_hider.active {
	max-height: 30%;
}

.selector_hider.active > .selector_option:hover {
	background: #7640f5aa;
}

.horizontal_block {
	vertical-align: baseline;
}

.sorter {
	font-size: 10px;
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
}

.table_naming > .cell {
	cursor: pointer;
}

.ceil_option {
	border: 0px;
	padding: 0px;
	margin: 0px 5px;
	width: 20px;
}

.alert_symbol {
	font-size: 40px;
	background: rgb(229, 255, 0);
	color: #000;
	display: inline-block;
	padding: 25px 20px;
	font-weight: bold;
	border-radius: 1000px;
	font-family: Century Gothic;
	line-height: 0px;
	border: 2px solid #000;
	vertical-align: top;
	margin-right: 30px;
	width: 12px;
}

.alert {
	max-width: 210px;
}

.message_block {
	position: absolute;
	width: 100%;
	height: 0%;
}

.popup_message {
	background: #ffffffc7;
	box-shadow: 1px 1px 5px #000;
	text-align: left;
	padding: 15px 40px;
	font-size: 20px;
	font-weight: bold;
	color: #000000d0;
	display: flex;
}

.message_closer {
	font-family: Century Gothic;
	color: #000;
	transform: rotate(45deg);
	padding: 12px 6px;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #000;
	border-radius: 1000px;
	line-height: 0px;
}

.message_text {
	text-align: center;
	display: inline-block;
	padding-left: 20px;
}

.message_closer_line {
	text-align: right;
	display: inline-block;
	flex: 1;
}

template {
	display: none;
}